{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block section %} <section class="container home-content"> {% endblock %}
{% block body %}
    <h1>Mon compte</h1>
    <h2>Mes informations</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Mes réservations</h2>
    {% if app.user.bookings %}
        <table class="table">
        <tbody>
        <tr>
            <th>Chambre</th>
            <th>Date de début</th>
            <th>Date de fin</th>
        </tr>
        {% for booking in app.user.bookings %}
                <tr>
                    <td>{{ booking.accomodation.title }} {{ booking.accomodation.id }}</td>
                    <td>{{ booking.dateStart|format_datetime('short', 'none', locale='fr') }}</td>
                    <td>{{ booking.dateEnd|format_datetime('short', 'none', locale='fr') }}</td>
                </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
        <p>Aucune réservation effectuée</p>
    {% endif %}

{#    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>#}

{#    {{ include('user/_delete_form.html.twig') }}#}
{% endblock %}